restaurants.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Phone" type="xs:string"/>
  <xs:element name="Email" type="xs:string"/>
  <xs:element name="Name" type="xs:string"/>
  <xs:element name="Contact">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Phone"/>
        <xs:element ref="Email"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Website">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="facebook" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Restaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="Contact"/>
        <xs:element ref="Website"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="Delivery" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="restaurants">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Restaurant" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
